.App {

}

html {
  overflow-y: scroll;
}

body{
 /* background-color: #122344; */
  background-color: #120f14;

}

.App-header {
  
}

.navbarContainer{
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  
}

.projectCardContainer{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 70px;


}

.downloadButton{
  text-decoration: none
}

.cardImg {
  
}


.cardImg:hover {


}

.Card {

  margin: 20px;
}



